<h1>DICKBUT!</h1>
<p><%= @planet.name %></p>
<%# <h1><%= @planet.name %1></h1> %>
<%# <h2><%= @planet.diameter %1></h2> %>
<%# <h3><%= @planet.solid %1></h3> %>
<%# <h4><%= @planet.order %1></h4> %>
<%# <h4><%= @planet.rings %1></h4> %>
